Source: monarch3
Section: libs
Priority: optional
Maintainer: Digital Bazaar, Inc. <support@digitalbazaar.com>
Homepage: http://digitalbazaar.com/
Build-Depends: debhelper (>= 9), autotools-dev, pkg-config, libsqlite3-dev (>= 3.6.17), libmysqlclient-dev, libssl-dev, libexpat-dev
Standards-Version: 3.8.0

Package: monarch3
Architecture: any
Depends: ${shlibs:Depends}, libssl0.9.8 (>= 0.9.8g), libexpat1 (>= 1.95.8), libsqlite3-0 (>= 3.6.17)
Description: Modular Networking Architecture (Monarch) Libraries
 The Monarch libraries support a variety of features required by
 modular, highly-scalable networking applications. These libraries provide 
 basic software support for compression, configuration, cryptography, 
 data I/O, events, logging, mail, networking, dynamic run-time objects, 
 sphinx search indexer interaction, MySQL/SQLite3 interaction, test framework, 
 and input validation. Together they constitute a suite of tools that enable 
 developers to write blindingly fast web service APIs based on JSON message 
 passing. The suite of libraries also includes the 
 MODEST (MODular Extensible STate) engine, which is designed to 
 provide a simple, lightweight, extensible state machine engine suited for 
 performing heavily multi-threaded network I/O and data processing.
